.principal{
    display:flex;
    align-items: center;
    justify-content: center;
}
.contenedor{
    /* width:98%; */
    height:550px;
    width:1240px;
    border: solid 3px black;
}
.mapa{
    /*height: 800px;*/
    height: 550px !important;
    width: 100%;
}

.image{
    border-radius: 50%;
    border: 3px solid rgb(84, 146, 3) ;
}
.transparent-tooltip {
    border: none;
    box-shadow: none;
    height: 20px; /*¿ESTOS SON LOS TEXTOS DEL TOOLTIP?*/
}

.transparent-tooltip::before {
    border: none;
} 

.leaflet-tooltip-bottom {
    margin-top: 6px;
    height: 12px !important;
    line-height: 0 !important;
}

.leaflet-top{
    display:flex !important;
    flex-direction: column;
    align-items: center;
}

.leaflet-container {
    line-height: 0.5;
}
.leaflet-popup-content{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
} 
.leaflet-popup-content h4{
    text-align:center; 
    color:rgb(113, 177, 3);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
}

.leaflet-popup-content img{
    width: 250px;
}

.leaflet-popup-content p{
    text-align:justify;         
}


#select-region-id{
    margin-left:0.6em;
    width: 12em;
}

#select-pais-id{
    width: 12em;
}

.leaflet-left{
    width: 100%;
}

.nivelAmenaza{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nivelAmenaza label{
    margin: auto;
    margin-left: 2%;
    display: flex;
    align-items: center;
} 

/*style del class animal control*/
.leaflet-left{
    display:flex;
    justify-content: space-around;
}
 .leaflet-control-layers-expanded{
    width:55%;
    border:4px solid rgb(68, 118, 3) !important;
    border-radius: 12px ;           
} 
.leaflet-control-layers-overlays{
    width: 100%;
    background-color: '#f1f1f1';
    text-align: center;
    border:'5px solid rgb(84, 146, 3);';
    border-radius:'16px';
    margin-left:'25%';
    margin-right:'25%';
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.leaflet-control-layers-overlays label{
    margin: auto;
    margin-left: 2%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
} 
/*style del class animal control*/