.container{
    width:500px;
    height:480px;
    padding-left:unset;
    padding-right:unset;
}
.slide{
    max-width:100%;
    height:auto;
    opacity:0;
    transition: opacity 2s ease-in-out;
}

.slide.active{
    opacity:1;
}

.arrow-left{
    position:absolute;
    height:80px;
    width:20px;
    z-index:2;
    top: 43%;
    left: 5px;
}

.arrow-right{
    position:absolute;
    height:80px;
    width:20px;
    z-index:2;
    top: 43%;
    right: 5px;
}

.buttonClose{
    position:absolute;
    top: 10px;
    right: 5px;
    font-size:1.5em;
    background-color:transparent; 
    border-color:transparent;
    color:red;
    font-weight:bolder;
}

@media (max-width:550px){
    /*TODO colocar los elementos correctamente para la vista de movil*/
    .MuiPaper-root{
        width: 100%;
        margin: unset !important;
    }
    .container{

    }
    .animalImage{
        width:100%;
    }
    .arrow-left{
        position: fixed;
        left: 5%;
        top: 45%;
    }
    .arrow-right{    
        position: fixed;
        left: 80%;
        top: 45%;
    }
    .buttonClose{
        position: fixed;
        left: 250px;
        top: 220px;
    }
}

@media (max-width:440px){
    .arrow-left{
        position: fixed;
        left: 5%;
        top: 45%;
    }
    .arrow-right{    
        position: fixed;
        left: 90%;
        top: 45%;
    }
    .buttonClose{
        position: fixed;
        left: 310px;
        top: 140px;
    }
}