.content{
    width:100%;
    display:inline-flex;
    justify-content:  space-evenly;
    background-color:#AD180D;
    color:white;
    padding-top:1rem;
    padding-bottom:1rem;
}
.description{

}
.description p{
    font-size:0.7rem;
    line-height:0.05rem;
    margin-left:2rem;
}

.rrss{
    display:inline-flex;
    flex-direction: column;
    /* line-height:0.05rem; */
    /* background-color:blue; */
    font-size:0.7rem;
}

.rrss p{
    padding-left:1rem; 
}
.rrss a{
    padding-left:1rem; 
}

@media (max-width:820px){
  
    .description p{
        line-height:unset;
    }

    .rrss{
        display:inline-flex;
        flex-direction:column;
        margin-right:0.5rem;
        line-height:unset;
        font-size:0.7rem;
    }
}

@media (max-width:676px){
    .rrss-icons{
        display:inline-flex;
        flex-direction:column;
    }

    .rrss-icons a{
        margin-top:1.5em;
    }
}