 .species-conservation-actions {
    padding: 20px;
  }
  
  .list-group-item {
    border: none;
  }
  
  @media (max-width: 768px) {
    .species-conservation-actions {
      padding: 10px;
    }
  }
  