
.species-threats {
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.threats-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.threat-item {
  width: 33.33%;
  padding: 5px;
}

.threat-item p {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.selected-threat {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.selected-threat h3 {
  font-size: 12px;
  margin-bottom: 10px;
}

.threat-details {
  margin-top: 10px;
  text-align: left;
}

.dropdown-container {
  margin-top: 20px;
  text-align: right;
}

.dropdown-button {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
}

.dropdown-content {
  display: block;
  margin-top: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.dropdown-item {
  margin-bottom: 5px;
}

.dropdown-item p {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  background-color: #f0f0f0;
}

/* POpulation-trend*/

.trend-info {
  text-decoration: underline;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 440px) {
  .population-trend {
   margin-bottom: 10px !important;
  }

}
